<% if flash[:notice] %>
  <div class="alert alert-primary alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-info"></i>Info</h5>
    <%= notice %>
  </div>
<% end %>

<h3>People</h3>
<br>

<%= link_to 'Create New', new_person_path, class: "btn btn-success btn-xs", style: "width: 100px" %>
<br><br>
<%= form_tag(people_path, method: "get", remote: true) do %>
  <div class="input-group">
    <span class="input-group-append">
      <%= text_field_tag(:search_term, nil, placeholder: 'Search name' ,class: 'form-control') %>
    </span>
    <span class="input-group-append">
      <button type="submit" class="btn btn-primary btn-flat">Search</button>
    </span>
  </div>
<% end %>
<br>
<div id="people-table">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th style="width: 120px">B.Date</th>
                <th style="width: 100px">Gender</th>
                <th style="width: 100px">Activation</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @people.each do |person| %>
                <tr>
                  <td><%= person.id %></td>
                  <td><%= person.first_name %></td>
                  <td><%= person.last_name %></td>
                  <td><%= person.birth_date&.strftime("%d  %b %Y") %></td>
                  <td>
                    <h6>
                      <span class="badge badge-success bedge-lg">
                        <%= person.gender.upcase %>
                      </span>
                    </h6>
                  </td>
                  <td>
                    <h6>
                      <% if person.activation %>
                        <span class="badge badge-primary bedge-lg">
                      <% else %>
                        <span class="badge badge-secondary bedge-lg">
                      <% end %>
                        <%= person.activation.to_s.upcase %>
                      </span>
                    </h6>
                  </td>
                  <td style="width: 60px">
                    <%= link_to 'Show', person, class: "btn btn-primary btn-xs", style: "width: 50px" %>
                  </td>
                  <td style="width: 60px">
                    <%= link_to 'Edit', edit_person_path(person), class: "btn btn-warning btn-xs", style: "width: 50px" %>
                  </td>
                  <td style="width: 60px">
                    <%= link_to 'Delete', person, class: "btn btn-danger btn-xs", style: "width: 50px", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
<div id="search-results">
</div>
